<section>
  <div class="bg"></div>
</section>
<div class="login-container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <div class="logo">
            <img src="/assets/svg/ardb-log-32x32.svg" alt="">
          </div>
          <h1 class="title">{{ 'forget-password' | transloco }}</h1>
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="language">
          <app-language-selector></app-language-selector>
        </div>
        <br>
        <mat-form-field>
          <mat-label>{{'email'| transloco}}</mat-label>
          <input [formControl]="email" matInput name="email" required [(ngModel)]="forgetPass.mail">
        </mat-form-field>
        <br>
        <button style="background-color: green; width: 100%; color: white; height: 40px;" mat-button>{{
          'verify' | transloco }} {{'email'| transloco}}
        </button>
        <span class="progress-spinner">
          <mat-spinner *ngIf="loading" color="success-color"></mat-spinner>
        </span>
        <mat-card-actions *ngIf="!loading">
          <a mat-button routerLink="/confirm-password" color="secondary">{{ 'verify' | transloco }} {{'signature' | transloco}}</a>
          <a mat-button routerLink="/login" color="success">{{ 'login' | transloco }}</a>
        </mat-card-actions><mat-progress-bar [class.is__loading]="!loading" mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </form>

</div>
