<div class="banner-container">
    <div class="banner-column">
      <div class="banner-image-container">
        <img [src]="banners[0]" alt="Banner 1" class="banner-img" >
        <!-- (click)="onClick($event)" -->
      </div>
    </div>
  </div>
  <div class="top-bar"></div>
  <div class="search-container">
    <div class="result-header">
      <h2>Complete Your Result</h2>
    </div>
    <form class="search-fields">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Enter location">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Bedroom</mat-label>
        <input matInput type="number" placeholder="Enter number of bedrooms">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Bathroom</mat-label>
        <input matInput type="number" placeholder="Enter number of bathrooms">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Floor</mat-label>
        <input matInput type="number" placeholder="Enter floor">
      </mat-form-field>
  
      <div class="search-field price-field">
        <mat-form-field appearance="outline" class="price-range">
          <mat-label>Price From</mat-label>
          <input matInput type="number" placeholder="From">
        </mat-form-field>
        <span class="price-separator">-</span>
        <mat-form-field appearance="outline" class="price-range">
          <mat-label>Price To</mat-label>
          <input matInput type="number" placeholder="To">
        </mat-form-field>
      </div>
  
      <div class="search-button-container">
        <button mat-raised-button color="success" class="search-button">Find</button>
      </div>
    </form>
  </div>
  
  <div class="content-container">
    <section>
      <h2>Land</h2>
      <div class="card-grid">
        <mat-card *ngFor="let land of paginatedland" data-aos="fade-up" class="animate__animated animate__fadeIn">
          <!-- Animate.css animation -->
          <div class="image-container">
            <img mat-card-image [src]="land.images[land.currentImageIndex]" alt="{{ land.title }}" >
            <button class="prev-image-button" (click)="prevImage(land)">&#10094;</button>
            <button class="next-image-button" (click)="nextImage(land)">&#10095;</button>
          </div>
          <mat-card-content>
            <h3>{{ land.title }}</h3>
            <p>Location: {{ land.location }}</p>
            <p>Contact: {{ land.contact }}</p>
            <p>Price: {{ land.price }}</p>
            <p>Bedrooms: {{ land.bathland }}</p>
            <p>Bathrooms: {{ land.bathland }}</p>
            <p>Floor: {{ land.floor }}</p>
          </mat-card-content>
        </mat-card>
      </div>
  
  
      <!-- Pagination controls -->
      <div class="pagination-buttons" style="text-align: center;">
        <button mat-raised-button color="primary" (click)="prevPage()" [disabled]="currentPage === 0">
          Previous
        </button>
  
        <ng-container *ngFor="let page of pagesToShow">
          <ng-container *ngIf="page === -1">
            <span>...</span>
          </ng-container>
          <ng-container *ngIf="page !== -1">
            <button mat-button (click)="changePage(page)" [disabled]="page === currentPage">
              {{ page + 1 }}
            </button>
          </ng-container>
        </ng-container>
  
        <button mat-raised-button color="primary" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">
          Next
        </button>
      </div>
  
    </section>
  </div>
  <app-footer></app-footer>