<div class="details-container">
  <!-- Back Button with Material Icon -->
  <button mat-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> Back
  </button>

  <div class="details-card">
    <!-- Display all images -->
    <div class="gallery">
      <!-- Main image -->
      <div class="main-image">
        <img [src]="currentImage" alt="Room Image" />
        <!-- Navigation arrows -->
        <button class="nav-left" (click)="previousImage()">&#10094;</button>
        <button class="nav-right" (click)="nextImage()">&#10095;</button>
      </div>

      <!-- Thumbnail images -->
      <div class="image-thumbnails">
        <img
          *ngFor="let image of room?.safeImagePaths; let i = index"
          [src]="image"
          [class.selected]="currentImage === image"
          (click)="selectImage(image)"
          alt="{{ room?.title }}"
          class="thumbnail"
        />
      </div>
    </div>

    <div class="details-content">
      <h2>{{ room?.title | transloco }}</h2>

      <div class="details-info">
        <p>
          <strong>{{ "location" | transloco }}:</strong> {{ room?.location }}
        </p>
        <p>
          <strong>{{ "contact" | transloco }}:</strong> {{ room?.phoneNumber }}
        </p>
        <p>
          <strong>{{ "price" | transloco }}:</strong>
          <span class="price">${{ room?.price }}</span>
        </p>
        <p>
          <strong>{{ "description" | transloco }}:</strong>
          {{ room?.description | transloco }}
        </p>
        <p>
          <strong>{{ "dimensions" | transloco }}:</strong> {{ room?.width }}m x
          {{ room?.height }}m
        </p>
        <p>
          <strong>{{ "floor" | transloco }}:</strong> {{ room?.floor }}
        </p>
        <p>
          <strong>{{ "mapLink" | transloco }}:</strong>
          <a [href]="room?.linkMap" target="_blank">{{
            "viewOnMap" | transloco
          }}</a>
        </p>
        <p>
          <strong>{{ "likes" | transloco }}:</strong> {{ room?.likeCount }}
        </p>
        <p>
          <strong>{{ "views" | transloco }}:</strong> {{ room?.viewCount }}
        </p>
      </div>

      <!-- Like Button with Material Icon (adjusted width) -->
      <button
        mat-raised-button
        color="primary"
        class="like-button"
        (click)="likeRoom(room!.id!)"
      >
        <mat-icon>thumb_up</mat-icon> {{ "likes" | transloco }} ({{
          room?.likeCount
        }})
      </button>
    </div>
  </div>

  <!-- Full-screen modal -->
  <div class="image-modal" *ngIf="selectedImage">
    <div class="modal-content">
      <img [src]="selectedImage" class="full-screen-image" />
      <button mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
