/* General image styling */
img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* Main wrapper for the language selector */
.language-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Styling for the language button */
.dropdown-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
}

/* Language dropdown menu */
.custom-language-menu .mat-menu-panel {
  width: 200px;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1000;
}

/* Styling for each language item in the dropdown */
.custom-language-menu button.mat-menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.custom-language-menu button.mat-menu-item:hover {
  background-color: #f0f0f0;
}

/* Language flag icon */
.language-icon {
  margin-right: 8px;
    margin-bottom: -5px;
}

/* Media Query for small screens */
@media screen and (max-width: 480px) {
  .language-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Hide the dropdown button and only show the flag */
  .dropdown-button {
    display: none;
  }

  .only__flag {
    display: block;
    visibility: visible;
  }
}

/* Dropdown button hover state */
.dropdown-button:hover {
  color: #48aa40;
}

/* Styling for the caret icon */
.caret-down {
  margin-left: 8px;
  transform: scale(0.8);
}

/* Custom dropdown styles */
.custom-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* When dropdown is shown, adjust the margin */
ul.show {
  display: block;
  margin-top: 10px;
  position: absolute;
  left: 0;
}

/* Styling for the individual dropdown list items */
ul li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

ul li:hover {
  background-color: #e5e5e5;
}
