<div class="form-wrapper"
     [class.blur]="isLoading">
  <h2 mat-dialog-title>Change Password</h2>
  <mat-dialog-content>
    <form [formGroup]="passwordForm"
          class="change-password-form">
      <!-- Current Password -->
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Current Password</mat-label>
        <input matInput
               [type]="hideCurrentPassword ? 'password' : 'text'"
               formControlName="currentPassword"
               required>
        <a mat-icon-button
           matSuffix
           (click)="togglePasswordVisibility('currentPassword')">
          <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </a>
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">Current password is required</mat-error>
      </mat-form-field>

      <!-- New Password -->
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput
               [type]="hideNewPassword ? 'password' : 'text'"
               formControlName="newPassword"
               required>
        <a mat-icon-button
           matSuffix
           (click)="togglePasswordVisibility('newPassword')">
          <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </a>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">New password is required</mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('passwordStrength')">
          Password must contain at least 8 characters, including uppercase, lowercase, numbers, and special characters.
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               [type]="hideConfirmPassword ? 'password' : 'text'"
               formControlName="confirmPassword"
               required>
        <a mat-icon-button
           matSuffix
           (click)="togglePasswordVisibility('confirmPassword')">
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </a>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
        <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
            color="warn"
            (click)="onCancel()">Cancel</button>
    <button mat-raised-button
            color="primary"
            [disabled]="!passwordForm.valid || isLoading"
            (click)="onSubmit()">Change</button>
  </mat-dialog-actions>
</div>

<!-- Loading Spinner (moved outside of the blur container) -->
<mat-progress-spinner *ngIf="isLoading"
                      mode="indeterminate"
                      diameter="50"
                      class="loading-spinner"></mat-progress-spinner>
