<mat-sidenav-container>
  <!-- Sidenav for Small Screens -->
  <mat-sidenav
    #sidenav
    mode="over"
    class="left-sidebar sticky-navbar"
    (backdropClick)="sidenav.close()"
  >
    <div class="close-btn">
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon style="color: red">close</mat-icon>
      </button>
    </div>

    <!-- Logo for small screens -->
    <div style="text-align: center; margin: 20px 0">
      <a [routerLink]="['/home']">
        <img
          src="/assets/img/ren_logo-2.png"
          alt="Logo"
          style="width: 150px; height: auto"
      /></a>
    </div>

    <!-- Non-admin Menu Items (Hide for Admins) -->
    <mat-nav-list *ngIf="!isAdmin">
      <ng-container *ngFor="let item of menuItems">
        <mat-list-item
          routerLinkActive="active"
          *ngIf="item.adminOnly === false || item.adminOnly === undefined"
        >
          <a
            [routerLink]="item.router"
            matTooltip="{{ item.tooltip | transloco }}"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.title | transloco }}</span>
          </a>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

    <mat-nav-list *ngIf="isAdmin">
      <ng-container *ngFor="let item of menuItems">
        <mat-list-item
          routerLinkActive="active"
          *ngIf="item.adminOnly === true"
        >
          <a
            [routerLink]="item.router"
            matTooltip="{{ item.tooltip | transloco }}"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.title | transloco }}</span>
          </a>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

    <div class="social-icons">
      <a href="https://facebook.com" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://twitter.com" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://linkedin.com" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://plus.google.com" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
    </div>
    <!-- <h3 class="title">RENTAL WEB SERVICE</h3> -->
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sticky-navbar">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isMediumScreen$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Logo for large screens -->
      <div style="background-color: white; padding: 5px; border-radius: 5px">
        <a [routerLink]="['/home']">
          <img
            src="/assets/img/ren_logo-2.png"
            alt="Logo"
            style="width: 50px; height: auto; cursor: pointer"
          />
        </a>
      </div>
      <div class="title-container" *ngIf="!(isMediumScreen$ | async)">
        <h1 class="title">RENTAL WEB SERVICE</h1>
      </div>
      <div class="spacer"></div>

      <!-- Menu Items for Large Screens -->
      <div class="menu-items" *ngIf="!(isMediumScreen$ | async)">
        <!-- Non-admin Menu Items (Hide for Admins) -->
        <ng-container *ngIf="!isAdmin">
          <ng-container *ngFor="let item of menuItems">
            <ng-container *ngIf="!item.adminOnly">
              <a
                mat-button
                [routerLink]="item.router"
                routerLinkActive="active-menu-item"
                [matTooltip]="item.tooltip | transloco"
              >
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.title | transloco }}</span>
              </a>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Admin-only Menu Items (Show for Admins Only) -->
        <ng-container *ngIf="isAdmin">
          <ng-container *ngFor="let item of menuItems">
            <ng-container *ngIf="item.adminOnly">
              <a
                mat-button
                [routerLink]="item.router"
                routerLinkActive="active-menu-item"
                [matTooltip]="item.tooltip | transloco"
              >
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.title | transloco }}</span>
              </a>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <app-language-selector *ngIf="!isAdmin"></app-language-selector>
      <!-- User Profile Section (Shown only when logged in) -->
      <div *ngIf="isLoggedIn" class="header-menu" [matMenuTriggerFor]="menu">
        <span>{{ fullName }}</span>
        <div class="profile-image-container">
          <img
            class="user-photo2"
            [src]="user.profileUrl || '../../assets/icon images/computer.png'"
            alt="profile"
          />
          <div class="online-icon"></div>
        </div>
      </div>

      <div class="auth-container" *ngIf="!isLoggedIn">
        <span [routerLink]="'/login'" class="login-link">{{
          "login" | transloco
        }}</span>
        <span class="separator"> / </span>
        <span [routerLink]="'/reginster'" class="signup-link">{{
          "register" | transloco
        }}</span>
      </div>

      <mat-menu #menu="matMenu">
        <!-- User Info Section -->
        <div class="profile-info" *ngIf="fullName || email">
          <div class="profile-info-text">
            <p class="user-fullname">{{ fullName }}</p>
            <p style="margin-top: 5px" class="user-email">{{ email }}</p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="'/profile'">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="openChangePasswordDialog()">
          <mat-icon>lock</mat-icon>
          <span>Change Password</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
