:host {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #666666;
  --color-secondary: #15A0BF;
  --color-primary-light: #49aa40af;
  --color-accent: #C6CA08;
  --color-aaebf5a: #D5A644;
  --color-warn: #BD2525;
  --bg-color-primary: #ffffff;
  --delay: 200ms;
  --nav-bar-height: 65px;
  --nav-progress-height: 4px;
  --nav-current-router-height: 40px;
  --mobile: 480px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--nav-bar-height);
  background-color: var(--color-primary);
  color: white;
}

.title {
  padding-inline-start: 1rem;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar .menu-items a {
  color: white;
  margin-right: 15px;
}
span a{
  list-style-type: none;
}

.mat-toolbar .menu-items a.mat-button {
  display: flex;
  align-items: center;
}

.mat-toolbar .menu-items a span {
  /* margin-left: 8px; */
}

.left-sidebar {
  width: 250px;
  background-color: white;
  color: white;
}

.left-sidebar mat-nav-list {
  padding: 0;
}
mat-list-item a mat-icon span {
 color: black;
}

 mat-nav-list a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 10px;
  color: black;
  border-left: 3px solid transparent;
  display: flex;
  align-items: center;
}

.left-sidebar mat-nav-list a.mat-list-item:hover {
  background-color: var(--color-primary-light);
  border-left-color: var(--color-accent);
}

.left-sidebar mat-nav-list a.mat-list-item.active {
  background-color: var(--color-accent);
  border-left-color: white;
  font-weight: bold;
}

.left-sidebar mat-nav-list a.mat-list-item mat-icon {
  margin-right: 16px;
}

.container-fluid {
  /* padding: 1rem; */
  background-color: var(--bg-color-primary);
  height: calc(100vh - var(--nav-bar-height));
  overflow-y: auto;
}

.active__route {
  font-weight: bold;
  margin-bottom: 1rem;
}

.mat-progress-bar {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
  .menu-items {
    display: none;
  }

  .left-sidebar {
    position: absolute;
    z-index: 10;
    width: 250px;
  }

  .mat-sidenav-content {
    position: relative;
  }

  .overlay {
    display: block;
    visibility: visible;
    position: absolute;
    top: var(--nav-bar-height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
mat-sidenav-content {
  transition: margin 0.3s ease;
}
.left-sidebar {
  width: 250px;
}

.close-btn {
  text-align: right;
  padding: 10px;
}
.mat-nav-list a, .mat-list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.mat-nav-list a mat-icon, .mat-list-item mat-icon {
  margin-right: 10px;
}
.menu-items {
  display: flex;
}

.menu-items a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}

.social-icons mat-icon {
  font-size: 24px;
}

.mat-nav-list {
  flex-grow: 1;
}
.mat-list-item.active {
  background-color: #690b0b;
}

.left-sidebar mat-nav-list a span{
  margin-left: 10px;
}

.active span {
  /* background: #f96507; */
  color: white;
  text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

 .active a {
  background: #f96507;
  border-radius: radius;
  color: white;
  border-radius: 7px;

  mat-icon {
    color: white;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
  }
}
menu-items .active mat-icon {
  background-color: #15A0BF;
}
.user-photo2 {
  width: 45px;
  height: 45px;
  align-items: center;
  margin-left: -0.5rem;
}
.selected-menu-item {
  background-color: #ff7043;
   /* Change 'yourColor' to the desired color */
}
.auth-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #4a60d6;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.login-link, .signup-link {
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: text-decoration 0.3s ease;
}

.login-link:hover {
  text-decoration: underline;
}

.signup-link:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 10px;
  color: white;
  font-size: 18px;
}
