.example-form {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px; /* Adds space between form fields */
}

.form-item {
  width: 100%;
}

.file-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center; /* Center the file input button */
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

.custom-file-upload mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

#file-upload {
  display: none;
}

/* Full-width elements, such as description */
mat-form-field[style*="grid-column: span 2;"] {
  grid-column: span 2;
}
.image-preview {
  margin-top: 16px;
  text-align: center;
}

.preview-img {
  max-width: 100%;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
.image-preview {
  margin-top: 16px;
  text-align: center;
}

.preview-img {
  max-width: 100%;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.cancel-image-btn {
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
}
