<h2 align="center"
    mat-dialog-title>Update House</h2>

<mat-dialog-content [formGroup]="houseForm"
                    class="example-form">
  <div class="form-grid">

    <!-- House Name -->
    <mat-form-field class="form-item">
      <mat-label>House Name</mat-label>
      <input matInput
             formControlName="title"
             placeholder="Enter house name">
      <mat-error *ngIf="houseForm.get('title')?.invalid && houseForm.get('title')?.touched">
        House name is required
      </mat-error>
    </mat-form-field>


    <!-- Price -->
    <mat-form-field class="form-item">
      <mat-label>Price</mat-label>
      <input matInput
             formControlName="price"
             type="number"
             placeholder="Enter price">
      <mat-error *ngIf="houseForm.get('price')?.invalid && houseForm.get('price')?.touched">
        Price is required
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="form-item"
                    style="grid-column: span 2;">
      <mat-label>Description</mat-label>
      <textarea matInput
                formControlName="description"
                placeholder="Enter description"></textarea>
      <mat-error *ngIf="houseForm.get('description')?.invalid && houseForm.get('description')?.touched">
        Description is required
      </mat-error>
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field class="form-item">
      <mat-label>Phone Number</mat-label>
      <input matInput
             formControlName="phoneNumber"
             type="tel"
             placeholder="Enter phone number">
      <mat-error *ngIf="houseForm.get('phoneNumber')?.invalid && houseForm.get('phoneNumber')?.touched">
        Phone number is required
      </mat-error>
    </mat-form-field>

    <!-- Map Link -->
    <mat-form-field class="form-item">
      <mat-label>Map Link</mat-label>
      <input matInput
             formControlName="linkMap"
             placeholder="Enter map link">
      <mat-error *ngIf="houseForm.get('linkMap')?.invalid && houseForm.get('linkMap')?.touched">
        Map link is required
      </mat-error>
    </mat-form-field>

    <!-- Floor -->
    <mat-form-field class="form-item">
      <mat-label>Floor</mat-label>
      <input matInput
             formControlName="floor"
             type="number"
             placeholder="Enter number of floors">
      <mat-error *ngIf="houseForm.get('floor')?.invalid && houseForm.get('floor')?.touched">
        Floor number is required
      </mat-error>
    </mat-form-field>

    <!-- Width -->
    <mat-form-field class="form-item">
      <mat-label>Width (in meters)</mat-label>
      <input matInput
             formControlName="width"
             type="number"
             placeholder="Enter width">
      <mat-error *ngIf="houseForm.get('width')?.invalid && houseForm.get('width')?.touched">
        Width is required
      </mat-error>
    </mat-form-field>

    <!-- Height -->
    <mat-form-field class="form-item">
      <mat-label>Height (in meters)</mat-label>
      <input matInput
             formControlName="height"
             type="number"
             placeholder="Enter height">
      <mat-error *ngIf="houseForm.get('height')?.invalid && houseForm.get('height')?.touched">
        Height is required
      </mat-error>
    </mat-form-field>

    <!-- Province -->
    <mat-form-field class="form-item">
      <mat-label>Province</mat-label>
      <mat-select formControlName="provinceId"
                  (selectionChange)="onProvinceSelected($event.value)">
        <mat-option *ngFor="let province of provinces"
                    [value]="province.id">
          {{ province.khmerName || province.englishName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="houseForm.get('provinceId')?.invalid && houseForm.get('provinceId')?.touched">
        Province is required
      </mat-error>
    </mat-form-field>

    <!-- District -->
    <mat-form-field class="form-item">
      <mat-label>District</mat-label>
      <mat-select formControlName="districtId"
                  (selectionChange)="onDistrictSelected($event.value)">
        <mat-option *ngFor="let district of districts"
                    [value]="district.id">
          {{ district.khmerName || district.englishName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="houseForm.get('districtId')?.invalid && houseForm.get('districtId')?.touched">
        District is required
      </mat-error>
    </mat-form-field>

    <!-- Commune -->
    <mat-form-field class="form-item">
      <mat-label>Commune</mat-label>
      <mat-select formControlName="communeId"
                  (selectionChange)="onCommuneSelected($event.value)">
        <mat-option *ngFor="let commune of communes"
                    [value]="commune.id">
          {{ commune.khmerName || commune.englishName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="houseForm.get('communeId')?.invalid && houseForm.get('communeId')?.touched">
        Commune is required
      </mat-error>
    </mat-form-field>

    <!-- Village -->
    <mat-form-field class="form-item">
      <mat-label>Village</mat-label>
      <mat-select formControlName="villageId">
        <mat-option *ngFor="let village of villages"
                    [value]="village.id">
          {{ village.khmerName || village.englishName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="houseForm.get('villageId')?.invalid && houseForm.get('villageId')?.touched">
        Village is required
      </mat-error>
    </mat-form-field>

    <!-- Image Upload -->
    <div class="file-input-wrapper">
      <label for="file-upload"
             class="custom-file-upload">
        <mat-icon>cloud_upload</mat-icon> Upload New Image
      </label>
      <input id="file-upload"
             type="file"
             (change)="onFileSelected($event)"
             accept="image/*"
             multiple>
    </div>

    <!-- Image Preview -->
    <div class="image-preview"
         *ngIf="imagePreview">
      <img [src]="imagePreview"
           alt="Image Preview"
           class="preview-img" />
      <button mat-button
              (click)="onCancelImage()"
              color="warn"
              class="cancel-image-btn">
        <mat-icon>cancel</mat-icon> Cancel Image
      </button>
    </div>



    <mat-dialog-actions align="end">
      <button mat-raised-button
              (click)="onCancel()"
              color="warn">Cancel</button>
      <button mat-raised-button
              (click)="onSubmit()"
              color="primary">Update House</button>
    </mat-dialog-actions>