<section>
  <div class="bg"></div>
</section>
<div class="login-container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">
          <div class="logo">
            <img src="/assets/svg/ardb-log-32x32.svg" alt="">
          </div>
          <h3>{{'signature-description'|transloco}}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="language">
          <app-language-selector></app-language-selector>
        </div>
        <mat-form-field >
          <mat-label class="fkh">{{'signature'|transloco}}</mat-label>
          <input type="text" matInput name="signature" required [(ngModel)]="signature" autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label class="fkh">{{'password'|transloco}}</mat-label>
          <input type="password" matInput name="password" required [(ngModel)]="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label class="fkh">{{'confirm-password'|transloco}}</mat-label>
          <input type="password" matInput name="confirmPassword" required [(ngModel)]="confirmPassword">
        </mat-form-field>
        <button style="background-color: green; width: 100%; color: white; height: 40px;" mat-button>
          {{'verify' | transloco}}
        </button>
      </mat-card-content>
      <mat-card-actions>
        <a color="success" mat-button routerLink="/login">{{ 'login' | transloco }}</a>
      </mat-card-actions>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <footer>
      </footer>
    </mat-card>
  </form>
</div>
