<!-- Main Container for Home Page -->
<div class="home-container">
  <!-- Hero Section -->
  <section class="hero-section">
    <h1>Welcome to Rental Post</h1>
    <p>
      Choose an option below to add a new listing for a room, house, or land.
    </p>
  </section>

  <!-- Cards Section -->
  <section class="cards-section">
    <!-- Room Card -->
    <div
      class="card-container"
      [routerLink]="['/add-post', { category: 'Room' }]"
    >
      <div class="card-content">
        <mat-icon class="card-icon">meeting_room</mat-icon>
        <h3>Add Room</h3>
        <p>
          List your available rooms for rent and connect with renters quickly.
        </p>
      </div>
    </div>

    <!-- House Card -->
    <!-- House Card -->
    <div class="card-container" (click)="navigateToPost('House')">
      <div class="card-content">
        <mat-icon class="card-icon">house</mat-icon>
        <h3>Add House</h3>
        <p>
          Have a house for rent? Add a listing now to attract potential renters.
        </p>
      </div>
    </div>

    <!-- Land Card -->
    <div class="card-container" (click)="navigateToPost('Land')">
      <div class="card-content">
        <mat-icon class="card-icon">terrain</mat-icon>
        <h3>Add Land</h3>
        <p>
          Post details about land available for lease or rent, and get
          connected.
        </p>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
