.form-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}


.form-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  color: #ffffff;
}

.file-input-container {
  display: flex;
  flex-direction: column;
}

.file-upload-label {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}

.file-input {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  cursor: pointer;
}

.form-header {
  background-color: #ff7043;
  height: 110px;
  width: 100%;
  margin-bottom: 30px;
}

.mat-success {
  margin-bottom: 20px;
}

.invisible {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}
