<mat-card-header class="center">
  <h2 mat-dialog-title>{{ "change-password" | transloco }}</h2>
</mat-card-header>
<mat-card>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <mat-divider></mat-divider>
    <mat-dialog-content>
      <h4>{{error}}</h4>
      <mat-form-field appearance="outline" [formGroup]="fg">
        <mat-label>{{'current-password' | transloco}}</mat-label>
        <input type="password" matInput name="currentPassword" required [(ngModel)]="resetPassword.currentPassword"
          formControlName="currentPassword" />
      </mat-form-field>

      <div></div>
      <mat-form-field appearance="outline" [formGroup]="fg">
        <mat-label>{{'password' | transloco}}</mat-label>
        <input type="password" matInput name="password" required [(ngModel)]="resetPassword.password"
          formControlName="password" />

      </mat-form-field>

      <div></div>
      <mat-form-field appearance="outline" [formGroup]="fg">
        <mat-label class="fkh">{{'confirm-password' | transloco}}</mat-label>
        <input type="password" matInput name="confirmPassword" required [(ngModel)]="resetPassword.confirmPassword"
          formControlName="confirmPassword" (input)="onSearchChange(myInput.value)" #myInput />
      </mat-form-field>
      <div class="errors" *ngIf="!matchPass">
        <div class="error-text">{{"password Not Match" | transloco}}</div>
      </div>

      <div class="errors" *ngIf="
          fg.get('password')!.invalid &&
          (fg.get('password')!.touched || fg.get('password')!.dirty)
        ">
        <div *ngIf="fg.get('password')!.hasError('required')"></div>
        <div class="error-text" *ngIf="fg.get('password')!.hasError('passwordStrength')">
          {{ fg!.get("password")!.errors!["passwordStrength"] }}
        </div>
      </div>

      <div class="errors" *ngIf="
        fg.get('confirmPassword')!.invalid &&
        (fg.get('confirmPassword')!.touched ||
          fg.get('confirmPassword')!.dirty)
      ">
        <div *ngIf="fg.get('confirmPassword')!.hasError('required')"></div>
        <div class="error-text" *ngIf="fg.get('confirmPassword')!.hasError('passwordStrength')">
          {{ fg!.get("confirmPassword")!.errors!["passwordStrength"] }}
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="success">
        {{ "save" | transloco }}
      </button>
      <button mat-raised-button color="warn" (click)="Onclose()">{{
        "cancel" | transloco
        }}</button>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <br />
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </mat-dialog-actions>
    <mat-progress-bar [class.is__loading]="!loading" mode="indeterminate"></mat-progress-bar>
  </form>
</mat-card>