<div class="details-container">
  <!-- Back Button with Material Icon -->
  <button mat-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> Back
  </button>

  <div class="details-card">
    <!-- Display all images -->
    <div class="image-thumbnails">
      <img
        *ngFor="let image of land?.safeImagePaths"
        [src]="image"
        class="thumbnail"
        (click)="openImageInFullScreen(image)"
        alt="{{ land?.title }}"
      />
    </div>

    <div class="details-content">
      <h2>{{ land?.title }}</h2>

      <div class="details-info">
        <p>
          <strong>Location:</strong> {{ provinceName }}, {{ districtName }},
          {{ communeName }}, {{ villageName }}
        </p>
        <p><strong>Contact:</strong> {{ land?.phoneNumber }}</p>
        <p>
          <strong>Price:</strong> <span class="price">${{ land?.price }}</span>
        </p>
        <p><strong>Description:</strong> {{ land?.description }}</p>
        <p></p>
        <p><strong>landSize:</strong> {{ land?.landSize }}</p>
        <p>
          <strong>Map Link:</strong>
          <a [href]="land?.linkMap" target="_blank">View on Map</a>
        </p>
        <p><strong>Likes:</strong> {{ land?.likeCount }}</p>
        <p><strong>Views:</strong> {{ land?.viewCount }}</p>
      </div>

      <!-- Like Button with Material Icon (adjusted width) -->
      <button
        mat-raised-button
        color="primary"
        class="like-button"
        (click)="likeLand(land!.id!)"
      >
        <mat-icon>thumb_up</mat-icon> Like ({{ land?.likeCount }})
      </button>
    </div>
  </div>

  <!-- Full-screen modal -->
  <div class="image-modal" *ngIf="selectedImage">
    <div class="modal-content">
      <img [src]="selectedImage" class="full-screen-image" />
      <button mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
