<h2 class="header">list comment</h2>

<section class="section">
  <mat-form-field class="btn-search">
    <mat-label>{{ "search" | transloco }}</mat-label>
    <input type="text" matInput #searchInput placeholder="Search comments" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="button-search">
    <button
      mat-raised-button
      color="success"
      (click)="applyFilter(searchInput.value)"
    >
      {{ "search" | transloco }}
    </button>
    <button mat-raised-button color="warn" (click)="clearFilter(searchInput)">
      Clear
    </button>

    <button
      mat-raised-button
      style="background-color: rgb(49, 127, 49); color: white"
      (click)="exportToExcel()"
    >
      <mat-icon>file_download</mat-icon> Export to Excel
    </button>
  </div>
</section>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="comments">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let comment">{{ comment.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let comment">{{ comment.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let comment">{{ comment.description }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let comment">
        {{ comment.createdAt | date : "short" }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let comment">
        <mat-icon
          mat-raised-button
          class="delete"
          (click)="deleteComment(comment.id)"
          >delete</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [length]="totalComments"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
>
</mat-paginator>
