<h2 mat-dialog-title>Update Land</h2>
<mat-dialog-content class="update-land-dialog-content">
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="landData.title" required />
  </mat-form-field>

  <div class="two-column">
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="number" [(ngModel)]="landData.price" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>landSize</mat-label>
      <input matInput type="number" [(ngModel)]="landData.landSize" />
    </mat-form-field>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="landData.description" rows="3"></textarea>
  </mat-form-field>

  <div class="two-column">
    <mat-form-field class="full-width">
      <mat-label>Province</mat-label>
      <mat-select
        [(ngModel)]="landData.provinceId"
        (selectionChange)="onProvinceSelected($event.value)"
      >
        <mat-option *ngFor="let province of provinces" [value]="province.id">
          {{ province.khmerName }} / {{ province.englishName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>District</mat-label>
      <mat-select
        [(ngModel)]="landData.districtId"
        (selectionChange)="onDistrictSelected($event.value)"
      >
        <mat-option *ngFor="let district of districts" [value]="district.id">
          {{ district.khmerName }} / {{ district.englishName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="two-column">
    <mat-form-field class="full-width">
      <mat-label>Commune</mat-label>
      <mat-select
        [(ngModel)]="landData.communeId"
        (selectionChange)="onCommuneSelected($event.value)"
      >
        <mat-option *ngFor="let commune of communes" [value]="commune.id">
          {{ commune.khmerName }} / {{ commune.englishName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Village</mat-label>
      <mat-select [(ngModel)]="landData.villageId">
        <mat-option *ngFor="let village of villages" [value]="village.id">
          {{ village.khmerName }} / {{ village.englishName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput type="tel" [(ngModel)]="landData.phoneNumber" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Map Link</mat-label>
    <input matInput [(ngModel)]="landData.linkMap" />
  </mat-form-field>

  <mat-card class="file-upload-card">
    <mat-card-content>
      <div class="file-upload-container">
        <label for="fileInput" class="file-upload-label">
          <mat-icon>cloud_upload</mat-icon>
          Upload Images
        </label>
        <input
          id="fileInput"
          type="file"
          (change)="onFilesSelected($event)"
          multiple
        />
      </div>
    </mat-card-content>
  </mat-card>

  <div
    class="image-preview-wrapper"
    *ngIf="imagePreviews && imagePreviews.length > 0"
  >
    <div
      *ngFor="let img of imagePreviews; let i = index"
      class="image-preview-container"
    >
      <img [src]="img" alt="House Image" class="image-preview" />
      <button mat-button class="cancel-image-button" (click)="cancelImage(i)">
        Cancel
      </button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
