<div class="profile-container">
  <div class="profile-header-bar"></div>
  <!-- <h2>User Profile</h2> -->

  <div class="profile-photo">
    <img [src]="user.photo" alt="User Photo" class="user-photo">
    <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
    <button mat-icon-button color="primary" (click)="fileInput.click()" class="change-photo-icon">
      <mat-icon>camera_alt</mat-icon>
    </button>
  </div>



  <mat-card>
    <mat-card-content>
      <div class="user-info-grid">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>User ID</mat-label>
          <input matInput [value]="user.id" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="user.username">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="user.gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Current Address</mat-label>
          <input matInput [(ngModel)]="user.address">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput [(ngModel)]="user.phoneNumber" type="tel">
        </mat-form-field>
      </div>

      <div class="profile-actions">
        <button mat-raised-button color="success" (click)="saveProfile()">Save</button>
        <button mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>