.banner-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 20px;
}
h2{
  padding: 1rem
}

.banner-column {
  flex: 1;
}

.banner-image-container {
  position: relative;
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.prev-banner-button, .next-banner-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev-banner-button {
  left: 10px;
}

.next-banner-button {
  right: 10px;
}

.prev-banner-button:hover, .next-banner-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}
.profile-header-bar {
  width: 100%;
  height: 70px;
  background-color: #f96507;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-photo {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  text-align: center;
}

.user-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
  background-color: white;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 49%);
}

.user-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-width {
  width: 100%;
}

.profile-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.change-photo-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.mat-icon{
  overflow: visible !important;
}
