<app-ads></app-ads>
<div class="top-bar"></div>
<div class="search-container">
  <div class="result-header">
    <h2>Complete Your Result</h2>
  </div>
  <form [formGroup]="searchForm"
        (ngSubmit)="onSearch()">
    <mat-form-field class="full-waith"
                    appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput
             formControlName="search"
             placeholder="Enter location">
    </mat-form-field>

    <div class="search-field price-field">
      <mat-form-field appearance="outline">
        <mat-label>From Price</mat-label>
        <input matInput
               formControlName="fromPrice"
               type="number"
               placeholder="From Price">
      </mat-form-field>

      <span class="price-separator">-</span>

      <mat-form-field appearance="outline">
        <mat-label>To Price</mat-label>
        <input matInput
               formControlName="toPrice"
               type="number"
               placeholder="To Price">
      </mat-form-field>
    </div>

    <div class="search-button-container">
      <button class="full-waith"
              mat-raised-button
              color="success">Find</button>
      <button class="full-waith"
              mat-raised-button
              color="warn"
              (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
<div class="content-container">
  <section>
    <h2>Houses</h2>
    <div class="card-grid">
      <mat-card *ngFor="let house of houses">
        <div class="image-container">
          <img mat-card-image
               [src]="house.safeImagePath"
               alt="{{ house.title }}">
        </div>
        <mat-card-content>
          <h3>{{ house.title }}</h3>
          <p>Location: {{ house.location }}</p>
          <p>Price: ${{ house.price }}</p>
          <p>Width: {{ house.width }}m</p>
          <p>Height: {{ house.height }}m</p>
          <p>Floor: {{ house.floor }}</p>
          <p>Phone: {{ house.phoneNumber }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
<app-footer></app-footer>