<div class="dashboard-container">
  <h1 class="dashboard-title">Rental Web Service - Admin Dashboard</h1>

  <!-- Statistics Section -->
  <div class="dashboard-statistics">
    <mat-card class="stat-card orange-card">
      <mat-card-header>
        <mat-icon class="card-icon">group</mat-icon>
        <mat-card-title>Total Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalUsers }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card blue-card">
      <mat-card-header>
        <mat-icon class="card-icon">totalRoom</mat-icon>
        <mat-card-title>totalRoom</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalRoom }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card red-card">
      <mat-card-header>
        <mat-icon class="card-icon">message</mat-icon>
        <mat-card-title>totalLand</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalLand }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card teal-card">
      <mat-card-header>
        <mat-icon class="card-icon">attach_money</mat-icon>
        <mat-card-title>totalHouse</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalHouse }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card green-card">
      <mat-card-header>
        <mat-icon class="card-icon">attach_money</mat-icon>
        <mat-card-title>totalPost</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalPost }}</p>
      </mat-card-content>
    </mat-card>
  </div>