<div class="banner-container">
  <div class="banner-column">
    <div class="banner-image-container">
      <img [src]="banners[0]" alt="Banner 1" class="banner-img">
      <button class="prev-banner-button" (click)="prevBanner()">&#10094;</button>
      <button class="next-banner-button" (click)="nextBanner()">&#10095;</button>
    </div>
  </div>
</div>

<div class="content-container">
  <section>
    <h2>Room</h2>
    <div class="card-grid">
      <mat-card *ngFor="let room of rooms">
        <div class="image-container">
          <img mat-card-image [src]="room.images[room.currentImageIndex]" alt="{{ room.title }}">
          <button class="prev-image-button" (click)="prevImage(room)">&#10094;</button>
          <button class="next-image-button" (click)="nextImage(room)">&#10095;</button>
        </div>
        <mat-card-content>
          <h3>{{ room.title }}</h3>
          <p>Location: {{ room.location }}</p>
          <p>Contact: {{ room.contact }}</p>
          <p>Price: {{ room.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="success" (click)="goToDetails('room')">More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  <button mat-raised-button color="success">View More</button>

  <section>
    <h2>House</h2>
    <div class="card-grid">
      <mat-card *ngFor="let house of houses">
        <div class="image-container">
          <img mat-card-image [src]="house.images[house.currentImageIndex]" alt="{{ house.title }}">
          <button class="prev-image-button" (click)="prevImage(house)">&#10094;</button>
          <button class="next-image-button" (click)="nextImage(house)">&#10095;</button>
        </div>
        <mat-card-content>
          <h3>{{ house.title }}</h3>
          <p>Location: {{ house.location }}</p>
          <p>Contact: {{ house.contact }}</p>
          <p>Price: {{ house.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="success" (click)="goToDetails('house')">More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  <button mat-raised-button color="success">View More</button>

  <section>
    <h2>Land</h2>
    <div class="card-grid">
      <mat-card *ngFor="let land of lands">
        <div class="image-container">
          <img mat-card-image [src]="land.images[land.currentImageIndex]" alt="{{ land.title }}">
          <button class="prev-image-button" (click)="prevImage(land)">&#10094;</button>
          <button class="next-image-button" (click)="nextImage(land)">&#10095;</button>
        </div>
        <mat-card-content>
          <h3>{{ land.title }}</h3>
          <p>Location: {{ land.location }}</p>
          <p>Contact: {{ land.contact }}</p>
          <p>Price: {{ land.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="success" (click)="goToDetails('land')">More</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </section>
  <button mat-raised-button color="success">View More</button>
</div>

<app-footer></app-footer>