<div class="details-container">
  <button mat-icon-button
          (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="details-card">
    <div class="image-container">
      <img mat-card-image
           [src]="house?.safeImagePath"
           alt="{{ house?.title }}">
    </div>
    <mat-card-content>
      <h2>{{ house?.title }}</h2>
      <p><strong>Location:</strong> {{ house?.location }}</p>
      <p><strong>Contact:</strong> {{ house?.phoneNumber }}</p>
      <p><strong>Price:</strong> ${{ house?.price }}</p>
      <p><strong>Description:</strong> {{ house?.description }}</p>
      <p><strong>Width:</strong> {{ house?.width }}m</p>
      <p><strong>Height:</strong> {{ house?.height }}m</p>
      <p><strong>Floor:</strong> {{ house?.floor }}</p>
      <p><strong>Phone Number:</strong> {{ house?.phoneNumber }}</p>
      <p><strong>Map Link:</strong> <a [href]="house?.linkMap"
           target="_blank">View on Map</a></p>
      <p><strong>Likes:</strong> {{ house?.likeCount }}</p>
      <p><strong>Views:</strong> {{ house?.viewCount }}</p>
      <button mat-raised-button
              (click)="likeHouse(house!.id)"
              color="primary">Like</button>
    </mat-card-content>
  </mat-card>
</div>


<app-footer></app-footer>