<section>
  <div class="bg"></div>
</section>
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h1 class="title">RENTAL WEB SERVICE</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="language">
          <app-language-selector></app-language-selector>
        </div>
        <br />

        <mat-form-field>
          <mat-label>{{ "username" | transloco }} </mat-label>
          <input type="text" formControlName="username" matInput formControlName="username" />
          <a mat-icon-button matSuffix>
            <mat-icon>person</mat-icon>
          </a>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>{{ "password" | transloco }}</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <br />
        <button type="submit" id="btnsubmit" color="succes" style="
            background-color: green;
            width: 100%;
            color: white;
            height: 40px;
          " mat-raised-button>
          {{ "login" | transloco }}
        </button>
        <mat-card-actions>
          <a routerLink="/forget-password">{{
            "forget-password" | transloco
            }}</a>
        </mat-card-actions>
      </mat-card-content>
      <mat-progress-bar [class.is__loading]="!loading" mode="indeterminate"></mat-progress-bar>
    </mat-card>
  </form>
</div>