.room-list-container {
  padding: 0px;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: #f1f1f1;
}
tr.example-element-header {
  background: #f47628;
  color: aliceblue;
}

.land-list-container {
  padding: 0px;
}

table {
  width: 100%;
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}
.header {
  padding: 1rem;
  text-align: center;
}
.room-list-container {
  position: relative;
  min-height: 400px; /* Ensures the container has a minimum height */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure it covers the full container */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

table {
  width: 100%;
  height: 100%;
}
.room-list-container {
  position: relative;
  min-height: 400px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure it covers the full container */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.table-container {
  width: 100%;
  min-height: 400px; /* Fixed minimum height for the table */

  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  height: 100%;
}

.no-data-container {
  text-align: center;
  font-size: 18px;
  color: #777;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* searh */
.section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  top: 2;
  z-index: 1;
  column-gap: 0.5rem;
  margin-left: 0rem;
}

/* Status styles */
.status-new {
  color: white;
  background-color: #4caf50; /* Green */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status-recent {
  color: white;
  background-color: #2196f3; /* Blue */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status-week-old {
  color: white;
  background-color: #ff9800; /* Orange */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status-month-old {
  color: white;
  background-color: #ff5722; /* Deep Orange */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status-old {
  color: white;
  background-color: #9e9e9e; /* Grey */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
